html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 30pt;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#App {
  background-color: #ffffff;
  font-family: 'Pangolin', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: calc(100vh - 32px);
  opacity: 0;
  margin: 16px;
  color: #555555;
}

#App-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#App-header-title {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#App-header-logo {
  max-height: 100px;
  object-fit: contain;
}

#App-header-text {
  display: inline-flex;
  font-size: 70pt;
}

#App-header-back {
  border: 5px dashed white;
  display: none;
  max-height: 100px;
  object-fit: contain;
  border-radius: 10px;
}

#App-header-back:hover {
  border-color: #bbbbbb;
}

#App-header-back:active {
  background-color: #bbbbbb;
}

#App-body {
  height: calc(100vh - 32px - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  border: 5px dashed white;
  display: flex;
  padding: 8px;
  font-size: 40pt;
  align-items: center;
  border-radius: 10px;
  justify-content: start;
}

.button img {
  height: 100%;
  max-height: 60px;
  object-fit: contain;
}

.button:hover {
  border-color: #bbbbbb;
}

.button:active {
  background-color: #bbbbbb;
}

.easy-equation {
  width: 100%;
  height: 150px;
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  font-size: 80pt;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.easy-equation img {
  height: 100%;
  max-height: 90px;
  object-fit: contain;
}

.easy-term {
  width: 200px;
  height: 120px;
  border: 5px solid #aaaaaa;
  border-radius: 10px;
}

.medium-equation {
  width: 100%;
  height: 150px;
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  font-size: 60pt;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.medium-equation img {
  height: 100%;
  max-height: 70px;
  object-fit: contain;
}

.medium-term {
  width: 180px;
  height: 110px;
  border: 5px solid #aaaaaa;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
